.todo__alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.todo__alert--danger {
    padding: 10px 0;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.todo__alert--danger ul {
    margin: 0;
}

.todo__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

h3{
    width: 70%;
    margin: 0 auto;
}
.create-form,
.search-form {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 70%;
    text-align: center;
}

.create-form__item,
.search-form__item {
    width: 70%;
    display: flex;
}

.create-form__item-content,
.create-form__item-category,
.search-form__item-content,
.search-form__item-category {
    padding: 10px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.create-form__item-content,
.search-form__item-content {
    width: 70%;
}

.create-form__item-category,
.search-form__item-category {
    margin-left: 10px;
    width: 30%;
}

.create-form__button,
.search-form__button {
    width: 20%;
}

.create-form__button-submit,
.search-form__button-submit {
    padding: 10px;
    width: 70%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}



.todo-table {
    margin: 30px auto;
    width: 70%;
}

.todo-table__inner {
    width: 100%;
}

.todo-table__row {
    border-bottom: 1px solid #ddd;
}

.todo-table__header {
    padding: 12px;
    width: 20%;
    text-align: left;
    font-weight: bold;
}

.todo-table__header-span:nth-child(2){
    margin-left: 80%;
}

.todo-table__item:first-of-type {
    padding: 12px;
    width: 90%;
}

.todo-table__item:nth-child(2) {
    padding: 12px;
    width: 10%;
}

.update-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.update-form__item {
    width: 100%;
    line-height: 50%;
    display: flex;
    justify-content: space-between;
}

.update-form__item-input {
    width: 80%;
    outline: none;
    border: none;
}

.update-form__item-category {
    width: 50%;
    outline: none;
    border: none;
    
}

.update-form__button {
    width: 50px;
}

.update-form__button-submit {
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background: #0000ff;
    color: #fff;
    cursor: pointer;
}

.delete-form__button {
    width: 50px;
}

.delete-form__button-submit {
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background: #ff0000;
    color: #fff;
    cursor: pointer;
}